<form>
    <input [(ngModel)]="formData.mida" type="text" name="mida" placeholder="mida" ngModel>
    <button (click)="midaImatge(formData)">mida</button>
</form>


<h2>
    Page {{ artworks.current_page }} de {{ artworks.total_pages }}
</h2>


<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Id</th>
        <th>Image</th>
        <th>Visualitzar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artwork of artworks">
        <td>{{ artwork.title }}</td>
        <td>{{ artwork.id }}</td>
        <td><img [src]="artwork.thumbnail"></td>
        <td><button (click)="visualitzar(artwork.id)">Visualizar</button></td>
        <td><img [src]="selectedArtwork?.image_id" (click)="detail(artwork.image_id)">
        <!--    <p>nom: {{}}</p>
            <p>any naixment: {{}}</p>
            <p>nay mort: {{}}</p>-->
        </td>
      </tr>
    </tbody>
  </table>
  
